<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>
	<p *ngIf="status != 'success'">
	  Crea una Nueva Categoria para el Blog.
	</p>
	<hr/>


	<div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
		La Categoria se ha Creado Correctamente !!
	</div>

	<div class="alert alert-danger col-md-5" *ngIf="status == 'error'">
		La Categoria no se ha Guardado !!
	</div> 

	<!-- Formulario de Crear Categoria -->

	<form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" class="col-md-5">
		 <div class="form-group">
		 	<label for="name">Nombre</label>
		 	<input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="category.name" 
		 	required />
		 	<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
		 		El Nombre de Categoria No es Valido
		 	</small>
		 </div>

         <input type="submit" value="Guardar" class="btn btn-success" [disabled]="categoryForm.invalid" />
	</form>

	<br>

</div>


