<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>
	<p *ngIf="!is_edit">
		Añade un Nuevo Articulo al Blog
	</p>
	<p *ngIf="is_edit && post">
		Modifica el Post {{post.title}}
	</p>
	<hr/>

	<!-- mensajes de alerta -->
	<div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
		Los Datos se han Guardado Correctamente !!
	</div>

	<div class="alert alert-danger col-md-5" *ngIf="status == 'error'">
		Los Datos No se han Guardado 
	</div>

	<!-- Formulario de crear entradas -->
	<form class="col-md-5 ml-0 pl-0" #postNew="ngForm" (ngSubmit)="onSubmit(postNew)">
		
		<div class="form-group">
			<label for="title">Titulo</label>
			<input type="text" name="title" #title="ngModel" [(ngModel)]="post.title" class="form-control"
			required="">

			<small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
				El Titulo no es Valido
			</small>
		</div>

		<div class="form-group">
			<label for="content">Contenido</label>
			<textarea [froalaEditor]="froala_options" name="content" #content="ngModel"
			[(ngModel)]="post.content" required></textarea>

			<small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
				El Contenido no es Valido
			</small>
		</div>

		<div class="form-group">
			 <label for="category_id">Categoria</label>
			 <select name="category_id" #category="ngModel" [(ngModel)]="post.category_id" 
			 class="form-control">
			 	<option *ngFor="let category of categories" value="{{category.id}}">
			 		{{category.name}}
			 	</option>
			 </select>
		</div>

		<div class="form-group">
			 <label for="image">Imagen</label>

			 <div *ngIf="is_edit && post.image">
            	<img src="{{ url + 'post/image/' + post.image }}" class="avatar_edit" />
            </div>

			 <angular-file-uploader
             [config]="afuConfig"
             [resetUpload]=resetVar
             (ApiResponse)="imageUpload($event)">
            </angular-file-uploader>
		</div>


		<input type="submit" value="Guardar" class="btn btn-success" [disabled]="postNew.invalid"/>  
	</form>
	
</div>


